
<form (ngSubmit)="getNewsByTopic()">
  Topic: <input name="newsControl" [(ngModel)]="topic" ngModel minlength="1" >
  <button type="submit">Submit</button>
  <div *ngIf="!topic">
    Input requires at least one character
  </div>
</form>

<app-title-data  [currentNews]="currentNews"></app-title-data>
<!--<div name="details" *ngIf=this.currentNews.title>-->
<!--  <br/>Title: {{currentNews.title}}<br/>-->
<!--  <br/>Author: {{currentNews.author}}<br/>-->
<!--  <br/>Description: {{currentNews.description}}<br/>-->
<!--  <br/>Cache: {{currentNews.cache}}<br/>-->
<!--</div>-->

